<h2 class="page-header">Forgotten password</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}


<p>Please enter your email address below. An email will be sent to you. In order to reset your password, simply follow the instructions in that email.</p>

<form action="/users/forgot-password" method="post">
	<div class="form-group">
		<input class="form-control" type="text" name="email" placeholder="email@address.com"/>
	</div>
	<input class="btn btn-primary btn-lg" type="submit" value="Submit" />
</form>