<h2 class="page-header">Two factor authentication setup</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form action="/users/tfa-setup" method="POST">

	<div class="panel panel-default">
		<div class="panel-heading">Two factor authentication</div>
		<div class="panel-body">
			<div class="form-group">
				<label>
					<input type="checkbox" name="twoFactorEnabled" {{#if user.twoFactorEnabled}}checked{{/if}} value='true' /> Enable two-factor authentication
				</label>
				<p>
					<small class="form-text text-muted">When two-factor authentication is enabled, you will be required to validate your identity through SMS verification upon login.</small>
				</p>
			</div>

			<div class="form-group">
				<label for="phone-number">Phone number</label>
				<div class="input-group">
					<div class="input-group-addon">+1</div>
					<input class="form-control" type="number" value="{{user.phoneNumber}}" name="phoneNumber" id="phone-number" placeholder="Example: 5146667777" />
				</div>
				<small class="form-text text-muted">To enable two-factor authentication, you need to enter your phone number.</small>
			</div>
		</div>
	</div>

	<input class="btn btn-primary btn-lg" type="submit" value="Apply changes" />
</form>