<h2 class="page-header">Two factor authentication setup</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form action="/users/two-factor-auth" method="POST">

	<div class="panel panel-default">
		<div class="panel-heading">An SMS has been sent to you containing a code, please enter it in the field below.</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="phone-number">Verification code</label>
				<input class="form-control" type="number" name="twoFactorCode" id="two-factor-code" />
				<small class="form-text text-muted">This step is required because two-factor authentication is enabled for your account.</small>
			</div>
		</div>
	</div>

	<input class="btn btn-primary btn-lg" type="submit" value="Submit" />
</form>